layout {
    default_tab_template {
        pane split_direction="horizontal" {
            pane split_direction="vertical" size="80%" {
                pane size="80%"
                pane size="20%"
            }
            pane split_direction="vertical" size="20%" {
                pane
                pane
            }
        }
        pane size=1 borderless=true {
            plugin location="file:/Users/yahia/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode} {tabs}"
                format_center ""
                format_right  "{datetime}"

                mode_normal        "#[bg=#c3e88d,fg=#1b1d2b,bold] NORMAL "
                mode_locked        "#[bg=#ff757f,fg=#1b1d2b,bold] LOCKED "
                mode_pane          "#[bg=#86e1fc,fg=#1b1d2b,bold] PANE "
                mode_tab           "#[bg=#c099ff,fg=#1b1d2b,bold] TAB "
                mode_resize        "#[bg=#ff966c,fg=#1b1d2b,bold] RESIZE "
                mode_scroll        "#[bg=#ffc777,fg=#1b1d2b,bold] SCROLL "
                mode_search        "#[bg=#ffc777,fg=#1b1d2b,bold] SEARCH "
                mode_session       "#[bg=#c099ff,fg=#1b1d2b,bold] SESSION "
                mode_move          "#[bg=#ff966c,fg=#1b1d2b,bold] MOVE "
                mode_tmux          "#[bg=#82aaff,fg=#1b1d2b,bold] TMUX "
                mode_enter_search  "#[bg=#ffc777,fg=#1b1d2b,bold] SEARCH "
                mode_rename_tab    "#[bg=#c099ff,fg=#1b1d2b,bold] RENAME TAB "
                mode_rename_pane   "#[bg=#c099ff,fg=#1b1d2b,bold] RENAME PANE "

                tab_normal              "#[fg=#828bb8] {name} "
                tab_active              "#[fg=#c3e88d,bold] {name} "
                tab_normal_fullscreen   "#[fg=#828bb8] {name} [] "
                tab_active_fullscreen   "#[fg=#c3e88d,bold] {name} [] "
                tab_normal_sync         "#[fg=#828bb8] {name} <> "
                tab_active_sync         "#[fg=#c3e88d,bold] {name} <> "

                datetime          "#[fg=#828bb8] {format} "
                datetime_format   "%Y-%m-%d %H:%M"
                datetime_timezone "Europe/Berlin"
            }
        }
    }
}
